<!-- Market -->
<section id="market" class="col-lg-8 col-lg-offset-2 text-center body">
    <h1 class="h1">O suchom oku</h1>
    <p class="large">
        Pri vývoji nášho produktu sme si robili vlastný prieskum trhu, aby sme zaručili vývoj produktu, ktorý obohatí jeho budúcich užívateľov. Prieskum nám pomohol pochopiť potreby zákazníka, ako aj určiť priority pri vývoji smart hrejivej masky Lorum.
        Pre 94,9% účastníkov v prieskume považuje používanie overenej vedeckej formy terapie za veľmi dôležité - dôležité. Aj preto sme sa rozhodli aplikovať overenú a funkčnú vedeckú terapiu, ktorá používa teplotu 40-42 °C. Tým stimuluje Meibomové žľazy a napomáha k tvorbe sĺz, ktoré sú pre zdravé oči absolútne kľúčové.  
    </p>
    <img src="img/market/problem.png" alt="Problémy s okom">

    <p class="large">
        Zároveň evidujeme, že 77% opýtaných trpí syndrómom suchého oka od 1 do viac ako 5 rokov. Z vedeckých zdrojov, ako aj nášho prieskumu zaznamenávame, že pacienti trpiaci týmto ochorením sú otvorení a dokonca vyhľadávajú nové možnosti terapie. Preto sme presvedčení, že náš produkt je optimálnym riešením. Jednorazová investícia do produktu, ktorý je možné používať doma a na cestách, vie klienta sprevádzať týmto ochorením a preo sa investícia určite oplatí. 
    </p>
    <img src="img/market/therapy.png" alt="Formy terapie">
</section>