<!-- Services Section -->
<section id="services" class="col-lg-8 col-lg-offset-2 text-lead body">
    <h1 id="n-produkt" class="h1">Náš Produkt</h1>
    <p class="h4">Sedíte dlhé hodiny pred obrazovkou? Pália vás oči a trápi vás neznesiteľná bolesť? Možno práve vy trpíte syndrómom suchého oka, a nie ste sami - až 50% svetovej populácie to zažíva tiež. Sme tu pre vás s revolučným riešením, ktoré vašim očiam vráti radosť!</p>
    <br/>
    <p class="large"><strong>O čom je naša hrejivá smart maska Lorum?</strong>
    Je to niečo úplne nové - nie len maska na oči, ale vedecky overený spôsob, ako vašim očiam poskytnúť starostlivú terapiu. Lorum využíva teplo na stimuláciu Meibomových žliaz, napomáhajúc tvorbe zdravých sĺz - kľúčových pre vaše pohodlie.</p>
    <p class="large"><strong>Technické detaily:</strong> Naša aplikácia sa spáruje cez Bluetooth. Umožňuje časovanie terapie, kontrolu stavu batérie, a dokonca má zabudovaný teplomer pre zaručenie optimálnej teploty, ktorá je pre slzotvorbu esenciálna. Maska, vyrobená z hypoalergénneho materiálu, je ľahká na ovládanie a bezpečná pre vaše oči.</p>
    <p class="large"><strong>Prečo práve Lorum?</strong> Denne strávime za obrazovkami celé hodiny a naše oči preto trpia. Lorum nie je len maska, je to spoločník pre vaše oči. Pomáha pri syndróme suchého oka, zmiernuje podráždenie a prináša úľavu.</p>
    <br/>
    <h2 id="v-hody-smart-masky-lorum-" class="h4">Výhody smart masky Lorum:</h2>
    <p class="large"><strong>Jednoduchá Použiteľnosť:</strong> Stačí si ju nasadiť, nastaviť čas a relaxovať.</p>
    <p class="large"><strong>Personalizovaná Terapia:</strong> Aplikácia vám umožňuje prispôsobiť terapiu podľa vašich potrieb.</p>
    <p class="large"><strong>Flexibilita:</strong> Môžete ju využívať kedykoľvek a kdekoľvek - doma alebo na cestách.</p>
</section>