<!-- Services Section -->
<section id="services" class="col-lg-8 col-lg-offset-2 text-center body">
    <h1 id="n-produkt" class="h1">Náš Produkt</h1>
    <p class="h4">Sedíte dlhé hodiny pred obrazovkou? Pália vás oči a trápi vás neznesiteľná bolesť? Možno práve vy trpíte syndrómom suchého oka, a nie ste sami - až 50% svetovej populácie si tým prechádza tiež. Sme tu pre vás s revolučným riešením, ktoré vašim očiam vráti radosť!</p>
    <br/>
    <p class="large"><strong>Naša hrejivá smart maska Lorum</strong>
    Je to niečo úplne nové- maska na oči používa vedecky overené metódy. Skrz teplo stimuluje Meibomové žlazy, ktoré napomáhajú pri tvorbe sĺz a tak poskytujú starostlivú terapiu pri syndróme suchého oka.</p>
    <p class="large"><strong>Technické detaily</strong>Naša aplikácia sa spáruje s maskou na oči pomocou Bluetooth. Umožňuje časovanie terapie, kontrolu stavu batérie, a dokonca má zabudovaný teplomer pre zaručenie optimálnej teploty, ktorá je pre oči prospešná a tak zamedzuje poškodeniu. Maska je vyrobená z hypoalergénneho materiálu a je aj preto bezpečná pre oči a pokožku.</p>
    <p class="large"><strong>Prečo Lorum?</strong>Denne strávime za obrazovkami celé hodiny a naše oči preto trpia. Lorum nie je len maska, je to spoločník pre vaše oči. Pomáha pri syndróme suchého oka, zmierňuje podráždenie a prináša úľavu. Zároveň ponúka personalizovaný prístup skrz sprievodnú aplikáciu ako aj neuveriteľný komfort a jednoduché používanie.</p>
    <br/>
    <img src="img/product/maska.png" alt="Prototyp obalu" class="img-fluid" width="800">
    <h2 id="v-hody-smart-masky-lorum-" class="h4">Výhody smart masky Lorum:</h2>
    <p class="large"><strong>Jednoduchá Použiteľnosť:</strong> Stačí si ju nasadiť, nastaviť čas a relaxovať.</p>
    <p class="large"><strong>Personalizovaná Terapia:</strong> Aplikácia vám umožňuje prispôsobiť terapiu podľa vašich potrieb.</p>
    <p class="large"><strong>Flexibilita:</strong> Môžete ju využívať kedykoľvek a kdekoľvek - doma alebo na cestách.</p>
    <p class="large"><strong> Máte o masku Lorum záujem?</strong>Tento produkt sa momentálne nachádza v štádiu vývoja. Ak Vás produkt zaujíma, vyplňte kontaktné údaje v sekcii „Chcem vedieť viac” aby Vám o maske Lorum už nič neuniklo.</p>
    <img src="img/product/electric.png" alt="Prototyp zariadenia" class="img-fluid" width="800">
</section>